<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock meta %}
    <title>
        {% block title %}{% endblock %} | MTDT Services
    </title>
    <!-- Favicon -->
    <link href="{{ url_for('static', filename='assets/img/brand/favicon.png') }}" rel="shortcut icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{{ url_for('static', filename='assets/vendor/nucleo/css/nucleo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <!-- Page CSS -->
    {% block stylesheets %}{% endblock stylesheets %}
    <!-- Core CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/app.min.css') }}" rel="stylesheet">
    {% endblock head %}
</head>

<body class="g-sidenav-show g-sidenav-pinned">
    {% include "admin/components/sidebar.html" %}
    <div class="main-content">
        {% block content %}{% endblock content %}
    </div>
    {% include "admin/components/scripts.html" %}
     <!-- Optional JS -->
    {% block javascripts %}{% endblock javascripts %}
</body>

</html>