{% extends "admin/layouts.html" %}
{% block title %} Thư viện {% endblock title %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
{% include "admin/components/navigation.html" %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Thư viện</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Danh sách thư viện</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6" id="app">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header bg-secondary">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <h3 class="mb-0">Thư viện</h3>
                            <p class="text-sm mb-0">
                                Tất cả các bộ câu hỏi và trả lời theo thứ tự...
                            </p>
                        </div>
                        <div class="col-sm-7 flex-container">
                            <div class="col-sm-8">
                                <input v-model="newBookText" id="new-book"
                                    class="mag-right form-control form-control-alternative">
                                <p v-if="errors.length" class="text-sm mb-0 mt-2"
                                    style="color: #f5365c;font-weight: 500;">
                                    [[ errors[0] ]]
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary" @click.prevent="addNewBook">Thư viện mới</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div v-for="(book, key) in ans" :key="book.name" class="row">
                        <div class="col">
                            <div class="card-header">
                                <label class="form-control-label pad-right" for="basic-url">[[ book.name ]]</label>
                                <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteBook(key)">
                                    <span class="btn-inner--text">Xóa thư viện</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <draggable tag="div" v-model="book.content" v-bind="dragOptions"
                                    @start="isDragging = true" @end="isDragging = false" handle=".handle">
                                    <transition-group type="transition" name="flip-list">
                                        <div v-for="(val, ind) in book.content" :key="ind" class="form-group pad-all">
                                            <div class="handle mag-right" type="button"><i class="fa fa-align-justify"></i></div>
                                            <div class="mag-right input-group input-group-merge">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">[[ ind+1 ]]</span>
                                                </div>
                                                <input v-model="val.scontent"
                                                    @input="$emit('input',$event.target.value)" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input v-model="val.stype" :id="book.name + ind + 'text'"
                                                    @input="$emit('input',$event.target.value)" value="text"
                                                    class="custom-control-input" type="radio">
                                                <label class="custom-control-label"
                                                    :for="book.name + ind + 'text'">Text</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input v-model="val.stype" :id="book.name + ind + 'img'"
                                                    @input="$emit('input',$event.target.value)" value="img"
                                                    class="custom-control-input" type="radio">
                                                <label class="custom-control-label"
                                                    :for="book.name + ind + 'img'">Image</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input v-model="val.stype" :id="book.name + ind + 'vds'"
                                                    @input="$emit('input',$event.target.value)" value="vds"
                                                    class="custom-control-input" type="radio">
                                                <label class="custom-control-label"
                                                    :for="book.name + ind + 'vds'">Video</label>
                                            </div>
                                            <button type="button" class="btn btn-danger btn-sm"
                                                @click="deleteQues(key, ind)">
                                                <span class="btn-inner--text">Xóa</span>
                                            </button>
                                        </div>
                                    </transition-group>
                                </draggable>
                                <button class="btn btn-icon btn-block btn-secondary" type="button"
                                    @click="addNewQues(key)">
                                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                    <span class="btn-inner--text">Thêm thẻ</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button @click.prevent="updateData" class="btn btn-icon btn-primary btn-lg btn-block" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                        <span class="btn-inner--text">Lưu thư viện</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include "admin/components/footer.html" %}
    <notifications group="notification" position="top right" classes="my-notification" width="250"/>
</div>
{% endblock content %}
{% block javascripts %}
<script src="{{ url_for('admin_blueprint.static', filename='assets/vendor/Sortable/Sortable.min.js') }}"></script>
<script src="{{ url_for('admin_blueprint.static', filename='assets/vendor/Vue.Draggable/vuedraggable.umd.min.js') }}"></script>
<script src="{{ url_for('admin_blueprint.static', filename='assets/js/wordbook.min.js') }}"></script>
{% endblock javascripts %}