    <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse ml-sm-3 d-none d-md-block">
                    <a href={{ url_for('auth_blueprint.logout') }} class="btn btn-neutral btn-icon btn-logout">
                        <span class="btn-inner--icon">
                            <i class="ni ni-button-power"></i>
                        </span>
                        <span class="nav-link-inner--text">Logout</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- End Topnav -->