<!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <!-- The Inner links -->
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header d-flex align-items-center">
                <a class="navbar-brand" href="{{ url_for('admin_blueprint.index') }}">
                    <img src="{{ url_for('static', filename='assets/img/brand/logo-pink.png') }}" class="navbar-brand-img" alt="...">
                </a>
                <div class=" ml-auto ">
                    <!-- Sidenav toggler -->
                    <div class="sidenav-toggler d-none d-xl-block active">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a  class="nav-link" href={{ url_for('admin_blueprint.index') }} 
                                aria-controls="navbar-dashboards">
                                <i class="ni ni-app text-red"></i>
                                <span class="nav-link-text">Dashboards</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="customers">
                                <i class="ni ni-align-left-2 text-red"></i>
                                <span class="nav-link-text">Khách hàng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="welcomes">
                                <i class="ni ni-like-2 text-red"></i>
                                <span class="nav-link-text">Chào mở đầu</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="keywords">
                                <i class="ni ni-bullet-list-67 text-red"></i>
                                <span class="nav-link-text">Từ khóa</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="wordbooks">
                                <i class="ni ni-book-bookmark text-red"></i>
                                <span class="nav-link-text">Thư viện</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="comments">
                                <i class="ni ni-chat-round text-red"></i>
                                <span class="nav-link-text">Bình luận</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="assets">
                                <i class="ni ni-image text-red"></i>
                                <span class="nav-link-text">Tài nguyên</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="settings">
                                <i class="ni ni-settings text-red"></i>
                                <span class="nav-link-text">Cấu hình</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>