<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock meta %}
    <title>
        {% block title %}{% endblock %} | MTDT Services
    </title>
    {% block stylesheets %}
    <!-- Favicon -->
    <link href="{{ url_for('static', filename='assets/img/brand/favicon.png') }}" rel="shortcut icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{{ url_for('static', filename='assets/vendor/nucleo/css/nucleo.css') }}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='assets/css/app.min.css') }}" rel="stylesheet">
    {% endblock stylesheets %}
    {% endblock head %}
</head>

<body class="bg-gradient-primary">
    <div class="main-content">
        <!-- Navbar -->
        <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href={{ url_for('auth_blueprint.login') }}>
                    <img src="/static/assets/img/brand/logo-pink.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/">
                                    <img src="/static/assets/img/brand/logo-pink.png">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <div class="header py-7 py-lg-8"></div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>